.following {
  text-align: center;
  background: linear-gradient(to bottom, #dadada, #f8f8f8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  
}


.following-logo {
  height: 40vmin;
  pointer-events: none;
}

.following-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.following-link {
  color: #61dafb;
}


.following-content {
  margin-top: 20px;
}

.following-nav-button-left {
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  padding: 8px 20px;
  color: black;
  text-decoration: none;
}

.following-nav-button-right {
  border: 1px solid black;
  border-radius: 0 5px 5px 0;
  padding: 8px 20px;
  color: black;
  text-decoration: none;
}

.following-nav-type-button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom:40px;
  font-size: large;
}


.following-nav-button-left:hover {
  background-color: #f0f0f0;
}

.following-nav-button-right:hover {
  background-color: #f0f0f0;
}

.following-image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
  margin:10px;

}

.following-image-container img {
  width: 100%;
  transition: transform 0.3s ease;
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
}

.following-image-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(180, 180, 180, 0.7); 
  color: white;
  transform: translateY(100%); 
  transition: transform 0.3s ease;
}

.following-image-container:hover .following-image-text {
  transform: translateY(0);
}

.following-image-title {
  font-size: 16px;
  font-weight: bold;
}

.following-image-description {
  font-size: 14px;
}

.modal-f {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-f-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-f-content img {
  max-width: 400px;   /* Set maximum width */
  max-height: 400px; /* Set maximum height */
  display: block;
  margin: 0 auto;    /* Center the image horizontally */
}

.fade-in-f {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

