.container{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #D3D9D9, #8AAAC0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerBox{
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer button{
    outline: none;
    border: none;
    background-color: #8AAAC0;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
}

.footer button:hover{
    background-color: #D3D9D9;
}

.footer p{
    font-weight: 700;
    color: #000;
}

.footer p span a{
    font-weight: bold;
    color: #8AAAC0;
    letter-spacing: 1px;
    font-size: 1rem;
}

.togglePasswordButton {
    width: 40px;
    height: 25px;
    border-radius: 4px;
    background-color: #cad4df;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .togglePasswordButton:hover {
    background-color: #caddf2;
  }
  