/* CSS for the boards to show in a panel form  */

h1{
    font-size: 300%;
}

.button {
    text-align: center; 
    padding: 5px; 
    align-items: center;
    background: linear-gradient(#dadada, #f8f8f8);
  }

  .panels {
    display: flex; 
    flex-direction: row; 
    text-align: center;
  }
  
.panel {
    width: 500px; 
    height: 2000px; 
    border: 1px solid #000; 
    margin: 10px; 
    padding: 15px; 
    display: flex;
    flex-direction: column;
    background: linear-gradient(#dadada, #f8f8f8);
  }
