/* Landing.css */

html,
body {
    margin: 0;
    padding: 0;
}

.landing-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /* Add padding to the top */
    min-height: 100vh;
}

.landing-content {
    display: grid;
    /* Use CSS Grid */
    grid-template-columns: 1fr 1fr;
    /* Two equal-width columns */
    grid-template-rows: 1fr 1fr;
    /* Two equal-height rows */
    align-items: center;
    justify-content: center;
}

.landing-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align the button to the right */
}

/* Common styles for text */
.landing-text-container {
    text-align: right;
    padding-right: 30px;
}

.landing-headline {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 98px;
    text-align: right;
    margin: 0;
    letter-spacing: -5px;
    font-weight: lighter;
    white-space: nowrap;
    position: relative;
    top: 90px;
    grid-column: 1;
    grid-row: 1;
}


/* Get started button */
.landing-button-container {
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    
}

.landing-start-button {
    font-family: Georgia, serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 400px;
    height: 70px;
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    border: 3px solid;
    border-color: whitesmoke;
    border-radius: 20px;
    margin-left: auto;
    position: relative;
    top:20px;
}

.landing-start-button:hover {
    background-color: white;
    color: black;
}